body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
}

header .logo {
    height: 90px;
    position: absolute;
    top: -9px;
    left: 10px;
}

header nav a {
    color: #333;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.search-bar {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar div {
    flex: 1;
    text-align: center;
    font-size: 14px;
}

.search-bar button {
    background-color: #FF5A5F;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #E04E50;
}
